%tr.node.level-4
  - list_display_attributes.each do |att|
    %td{:class => attribute_cell_class(att)}
      %span.w1
        - case att
        - when 'title'
          %a{:href => page_edit_url(:id => page), :title => page.url}
            = image('page', :alt => "page-#{att}-icon", :height => '18px')
            %span.title= nicify(page[att])
        - when 'parent_title'
          - unless page.parent.nil?
            %a{:href => page_edit_url(:id => page.parent.id), :title => page.parent.url}
              = image('page', :alt => "page-#{att}-icon", :height => '18px')
              %span.title= nicify(page.send(att))
        - when 'slug'
          - unless page[att].nil?
            - page[att] = '/' ? slug = page[att] : slug = '/' + page[att]
            - if slug.length > 29 
              - slug = slug.slice(0,13) + '...' + slug.slice(slug.length-13, slug.length)
            %span{:title => page[att]}
              = slug
        - when 'class_name'
          - unless page[att].nil? 
            = page[att].slice(0,12)
        - else
          = nicify(page.send(att))