- include_javascript 'admin/tablekit'
- include_javascript 'admin/ruledtable'

%h1 Pages

= render_region :top

%table.index.sortable{:summary=>"Sortable list of pages for the current site"}
  %thead
    %tr
      - list_display_attributes.each do |att|
        %th{:class => "page-#{att}" }
          %a
            %span.w1= att.humanize
  %tbody
    - if @pages
      - @pages.each do |page|
        %tr.node.level-4
          - list_display_attributes.each do |att|
            %td{:class => 'page'}
              %span.w1
                - if att == 'title'
                  %a{:href => page_edit_url(:id => page), :title => page.url}
                    = image('page', :alt => "page-#{att}-icon", :height => '18px')
                    %span.title= nicify(page.send(att))
                - else 
                  = nicify(page.send(att))
    - else
      %tr
        %td.note{:colspan => 4} No Pages

= render_region :bottom

- unless @pages
  %p
    = link_to image('new-homepage', :alt => 'New Homepage'), homepage_new_url
    
- content_for :page_css do
  :sass
    #content
      table.index.sortable
        th
          background-position: right center
          background-repeat: no-repeat
          &.sortasc
            background-image: url(/images/admin/move_lower.png) ! important
            background-color: #ff8 ! important
          &.sortdesc
            background-image: url(/images/admin/move_higher.png) ! important
            background-color: #8ff ! important            
    th a
      color: black
      text-decoration: none
      font-weight: bold
      &:hover
        text-decoration: underline