%tr.node.level-4
  - list_display_attributes.each do |att|
    - case att
    - when 'title'
      %td.name
        = image('page', :alt => '')
        = link_to nicify(page[att]), edit_admin_page_url(page), :title => page.path
    - when 'parent_title'
      - unless page.parent.nil?
        %td.name{:style => "font-size: 90%"}
          = image('page', :alt => '', :height => '20px')
          = link_to nicify(page.send(att)), edit_admin_page_url(page.parent), :title => page.parent.path
    - when 'slug'
      - unless page[att].nil?
        %td.status
          - page[att] = '/' ? slug = page[att] : slug = '/' + page[att]
          - if slug.length > 29 
            - slug = slug.slice(0,13) + '...' + slug.slice(slug.length-13, slug.length)
          %span{:title => page[att]}= slug
    - when 'class_name'
      - unless page[att].nil? 
        %td.status= page[att].slice(0,12)
    - else
      %td.status= nicify(page.send(att))