- include_javascript 'admin/tablekit'
- include_javascript 'admin/ruledtable'
- @page_title = t('pages') + ' - ' + default_page_title

.outset
  = render_region :top
  %table.index.sortable{:summary=>"Sortable list of pages"}
    %thead
      %tr
        - list_display_attributes.each do |att|
          %th{:class => attribute_header_class(att), :id => attribute_header_id(att) }
            %a
              %span.w1= att.humanize
    %tbody
      - if @pages.any?
        = render :partial => 'page', :collection => @pages
      - else
        %tr
          %td.empty{:colspan => list_display_attributes.length}= t('no_pages')
#actions
  = pagination_for(@pages)
  %ul
    - unless @pages.any?
      %li= link_to image('plus') + " " + t("new_homepage"), new_admin_page_path, :class => 'action_button'

= render :partial => 'page_list_view_styles'