- #include_javascript 'admin/tablekit'
- include_javascript 'admin/ruledtable'
- @page_title = t('pages') + ' - ' + default_page_title

.outset
  = render_region :top

  - if params[:view] == 'paginated_list'
    = will_paginate @pages

  %table.index.sortable{:summary=>"Sortable list of pages for the current site"}
    %thead
      %tr
        - list_display_attributes.each do |att|
          %th{:class => attribute_header_class(att), :id => attribute_header_id(att) }
            %a
              %span.w1= att.humanize

    %tbody
      - unless @pages.empty?
        = render :partial => 'page', :collection => @pages
      - else
        %tr
          %td.empty{:colspan => list_display_attributes.length}= t('no_pages')

  - if params[:view] == 'paginated_list'
    = will_paginate @pages

  = render_region :bottom

  - if @pages.empty?
    #actions
      %ul
        %li= link_to image('plus') + " " + t("new_homepage"), new_admin_page_path
    
- content_for :page_css do
  :sass
    #content
      table.index.sortable
        th
          background-position: right center
          background-repeat: no-repeat
          &.sortasc
            background-image: url(/images/admin/move_lower.png)
            background-color: #f93
          &.sortdesc
            background-image: url(/images/admin/move_higher.png)
            background-color: #39f
        th a
          color: white
          padding: 0 0 0 9px
          text-decoration: none
          &:hover
            text-decoration: underline
        td a
          text-decoration: none
          .title
            color: black
            font-weight: bold
            text-decoration: none
          &:hover .title
            color: #0066cc
            text-decoration: underline
    .pagination
      :text-align left
    .pagination a 
      :border 1px solid #005b9c
      :color #005b9c
      :text-decoration none
      :padding 1px 3px
      &:hover
        :background-color #ddddee
    .pagination span.disabled
      :display none
    .pagination .current
      :background-color #FFFFDD
      :padding 1px 3px
      :border 1px solid black
