- #include_javascript 'admin/tablekit'
- include_javascript 'admin/ruledtable'

.outset
  = render_region :top
  %table.index.sortable{:summary=>"Sortable list of pages for the current site"}
    %thead
      %tr
        - list_display_attributes.each do |att|
          %th{:class => attribute_header_class(att), :id => attribute_header_id(att) }
            %a
              %span.w1= att.humanize
    %tbody
      - if @pages
        = render :partial => 'page', :collection => @pages
      - else
        %tr
          %td.empty{:colspan => list_display_attributes.length}= t('no_pages')
  %p{:style=>"text-align:center"}= will_paginate @pages if params[:view] == 'paginated_list'  
  = render_region :bottom
  - unless @pages
    %p
      = link_to image('new-homepage', :alt => 'New Homepage'), homepage_new_url

- content_for :page_css do
  :sass
    #content
      table.index.sortable
        th
          background-position: right center
          background-repeat: no-repeat
          &.sortasc
            background-image: url(/images/admin/move_lower.png)
            background-color: #ccc
          &.sortdesc
            background-image: url(/images/admin/move_higher.png)
            background-color: #ccc
    th a
      color: white
      text-decoration: underline
      &:hover
        text-decoration: none
    .pagination
      :text-align left
      :margin -4px 0 6px 320px
    .pagination a 
      :border 1px solid #005b9c
      :color #005b9c
      :text-decoration none
      :padding 1px 3px
      &:hover
        :background-color #e5f5ff
    .pagination span.disabled
      :display none
    .pagination .current
      :font-weight bold
      :background-color #c5dff5
      :padding 1px 3px
      :border 1px solid black
